# Cấu hình Database
SA_PASSWORD=your_local_db_password_here
DB_CONNECTION_STRING=Server=db,1433;Database=N3_D4_StudentMgmt;User Id=sa;Password=your_local_db_password_here;TrustServerCertificate=True;

# Cấu hình JWT
JWT_SECRET=your_jwt_secret_key_min_16_chars_here
JWT_ISSUER=SmartCampusAuth
JWT_AUDIENCE=SmartCampusUsers